.even{
	background-color: #f2f2f2;
}

.root{
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.full-height{
	height: 100%!important;
	max-height: 200px;
	padding: 0;
	margin: 0;
}