{% extends "base.html" %}
{% block body %}
{% include 'menu.html' %}

<div class="row">
	<h1>Verify invoice</h1>
</div>

<form action="/admin" method="post">
	{% if error %}
		<p>{{error}}</p>
	{% endif %}
	<div class="row">
		<div class="u-full-width">
			<label for="invoice_input">Enter comma separated invoice numbers</label>
			<input class="u-full-width" type="text" placeholder="OR302253579" id="invoice_input" name="invoice_numbers">
		</div>
	</div>
	<div class="row">
		<input class="button-primary u-pull-right u-full-width" type="submit" value="Check dem numbers">
	</div>
</form>


<table class="u-full-width">
	<thead><tr><th>Invoice #</th><th>Package</th><th>Purchase Date</th><th>Count</th><th>Cost</th><th>Status</th><th>Add Email</th><th>Action</th></tr></thead>
	<tbody>
		{% for product in products %}
		<form action="/add_email" method="post">
		<tr class="{{ loop.cycle('odd', 'even')}}">
			<td>{{product.GetInvoiceNumber()}}</td>
			<td>{{product.GetPackageName()}}</td>
			<td>{{product.GetPurchaseDate()|date_format}}</td>
			<td>{{product.GetPurchaseCount()}}</td>
			<td>{{product.GetPurchaseCost()}}</td>
			<td>{{product.GetStatusCode()}}</td>
			<td><input type='email' name="email" class='full-height' value="{{product|find_purchased_item}}"></td>
			<td><input type='submit' class='full-height' value='save'></td>
			<input type="hidden" name="product_name" value="{{product.GetPackageName()}}">
			<input type="hidden" name="invoice_numbers" value="{{product.GetInvoiceNumber()}}">
		</tr>
		</form>
		{% endfor %}
	</tbody>
</table>


{% endblock %}